@use "../abstracts";

html {
    // header
    --text-color: #1A162E;
    --icon-color: brightness(0) saturate(100%) invert(5%) sepia(19%) saturate(5537%) hue-rotate(232deg) brightness(96%) contrast(92%);
    --header-bg-color: #EEEEEE;
    --footer-bg-color: var(--header-bg-color);
    --header-act-dropdown-bg: #FFF;
    --header-act-dropdown-shadow: rgba(200, 200, 200, 0.40);
    --header-act-dropdown-border-color: #D2D1D6;

    @include abstracts.screen(sm) {
        --header-bg-color: #FFF;
        --header-shadow-color: rgba(237, 237, 246, 0.20);
    }

    --body-bg-color: #F6F6F6;
    --top-act-group-bg-color: #FFF;
    --top-act-group-shadow: rgba(237, 237, 246, 0.20);
    --top-act-group-separate: #EDEDF6;

    // dropdown
    --dropdown-bg-color: #fff;
    --dropdown-shadow: rgba(200, 200, 200, 0.40);
    --menu-top-border-color: #D2D1D6;

    // sidebar
    --sidebar-bg-color: #fff;
    --sidebar-shadow: rgba(200, 200, 200, 0.40); 

    // Category
    --cate-item-bg: #eee;
    --cate-item-thumb-bg: #fff;
    --cate-item-title-color: #000;

    @include abstracts.screen(md) {
        --cate-item-bg: #fff;
    }

    // Button
    --filter-btn-color: #6C6C72;
    --filter-btn-bg: #fff;

    // Product card
    --product-card-bg: #fff;
    --product-card-shadow: rgba(237, 237, 246, 0.20);

    // Filter form 
    --filter-form-bg: #fff;
    --filter-form-shadow: rgba(200, 200, 200, 0.40);
    --form-tag-bg: #F8F8FB;
    --filter-footer-padding-bg: #fff;

    // Auth
    --auth-content-bg: #fff;
    --form-checkbox-label: #9E9DA8;
    --form-placeholder-color: #D2D1D6;
    @include abstracts.screen(md) {
        --auth-intro-bg: #fff;
    }

    // Product detail
    --product-detail-bg: #fff;
    --prod-info-bg: #F6F6F6;

    @include abstracts.screen(md) {
        --product-detail-bg: #fafafd;
        --prod-info-bg: #fff;
    }

    // Breadcrumbs 
    --breadcrumbs-bg: #F6F6F6;
    --breadcrumbs-shadow: rgba(237, 237, 246, 0.20);
    --product-info-content-bg: #fff;
    --product-info-tag-bg: #ededf6;
    @include abstracts.screen(md) {
        --breadcrumbs-bg: #fff;

    }

    // Search bar 
    --search-bar-bg: #fff;

    // Review card
    --review-card-bg: #FAFAFD;

    @include abstracts.screen(md) {
        --review-card-bg: #fff;

    }

    // Text Content 
    --text-content-hr-bg: #ebebeb;

    // Checkout
    --checkout-breadcrumbs-bg: #fff;
    --checkout-cart-info-bg: #FFF;
    --checkout-cart-info-shadow: rgba(237, 237, 246, 0.20);
    --checkout-cart-border-color: #D2D1D6;
    --checkout-gift-shadow: rgba(237, 237, 246, 0.20);

    // Dialog
    --dialog-bg: #fff;
    --dialog-shadow: rgba(237, 237, 246, 0.20);
}