.face:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    0%, 100% {
      translate: 0;
    }
    25%, 75% {
      translate: 4px;
    }
    50% {
      translate: -4px;
    }

  }